.skills {
  background-color: $background-color;
  margin: auto;
  width: 100%;
  max-width: 1224px;
  min-height: 100%;
  padding-top: 40px;

  &__name {
    margin-top: 25px;
    font-size: 20px;
    font-weight: 800;
  }

  &__details {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 500px;
    position: relative;
    margin-bottom: 80px;
  }

  img {
    width: 80px;
    opacity: 0;
    position: absolute;
    animation: appear 2s forwards, rotateSkills 15s infinite linear;
    top: 35%;
    right: 45%;
  }

  h2 {
    @include section-title;
  }

  @media (max-width: 880px) {
    &__details {
      margin-bottom: 0;
      height: 320px;
    }

    &__name {
      font-size: 12px;
      margin-top: 5px;
    }
    img {
      width: 40px;
      animation: appear 2s forwards, rotateSkillsTablet 15s infinite linear;
      top: 21%;
      right: 47%;
    }
  }

  @media (max-width: 480px) {
    &__details {
      height: 220px;
    }
    img {
      width: 30px;
      animation: appear 2s forwards, rotateSkillsSmartphone 15s infinite linear;
      top: 28%;
    }
    &__name {
      font-size: 10px;
      margin-top: 5px;
    }
  }
}
